/target
**/*.rs.bk
Cargo.lock
.DS_Store
*.mp3
*.wav
*.flac
sample.*
data/window_position.json
data/playlists.json
logs
app/assets
Cargo.lock
dist/app/assets/icons/ph--x-square-bold.svg
dist/app/assets/icons/ph--speaker-x-fill.svg
dist/app/assets/icons/ph--speaker-slash-fill.svg
dist/app/assets/icons/ph--speaker-none-fill.svg
dist/app/assets/icons/ph--speaker-low-fill.svg
dist/app/assets/icons/ph--speaker-high-fill.svg
dist/app/assets/icons/ph--skip-forward-fill.svg
dist/app/assets/icons/ph--skip-back-fill.svg
dist/app/assets/icons/ph--shuffle-off-bold.svg
dist/app/assets/icons/ph--shuffle-bold.svg
dist/app/assets/icons/ph--rewind-fill.svg
dist/app/assets/icons/ph--play-circle-bold.svg
dist/app/assets/icons/ph--pause-circle-bold.svg
dist/app/assets/icons/ph--list-bullets-fill.svg
dist/app/assets/icons/ph--grid-nine-fill.svg
dist/app/assets/icons/ph--folder-plus-fill.svg
dist/app/assets/icons/ph--files-fill.svg
dist/app/assets/icons/ph--fast-forward-thin.svg
dist/app/assets/icons/ph--fast-forward-fill.svg
dist/app/assets/icons/ph--check-square-bold.svg
dist/app/assets/icon.jpg
dist/app/assets/icon.ico
